<div class="container">
    <button routerLink="/add" type="button" class="btn btn-dark">Agregar</button>
    <p>Lista de equipos</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Correo</th>
            <th scope="col">password</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let admin of ListarAdmin; let i = index">
                <td>{{i+1}}</td>
                <td>{{admin.nombre}}</td>
                <td>{{admin.apellido}}</td>
                <td>{{admin.nombreus}}</td> 
                <td>{{admin.correo}}</td>
                <td>{{admin.password}}</td>  
                <td><button (click)="modificar(admin.id)" type="button" class="btn btn-primary">EDITAR</button></td>
                <td><button (click)="eliminar(admin.id)" type="button" class="btn btn-danger">Borrar</button></td>
            </tr>
        </tbody>
    </table>

</div>
