<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inicio</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/add">Agregar</a>      
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/mostrar">Administrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>